.DS_Store
.pytest_cache/
.ruff_cache/
.uv-cache/
.cache/
.mplconfig/
.venv/
__pycache__/
*.egg-info/
*.pyc

outputs/models/*
outputs/logs/*
outputs/figures/*
outputs/tables/*
outputs/trajectories/*

!outputs/models/.gitkeep
!outputs/logs/.gitkeep
!outputs/figures/.gitkeep
!outputs/tables/.gitkeep
!outputs/trajectories/.gitkeep
